/* 
if the current url contains https://stackoverflow.com, https://askubuntu.com, or https://datascience.stackexchange.com
iterate over the urls and add whatever page you're currently on to the end.

for example https://stackoverflow.com/?tab=featured will open
https://stackoverflow.com/?tab=featured, https://askubuntu.com/?tab=featured and https://datascience.stackexchange.com/?tab=featured
*/

var base_urls = ["https://stackoverflow.com", "https://askubuntu.com", "https://datascience.stackexchange.com"];
var exclude_current_url = false;

// Export node module.
if ( typeof module !== 'undefined' && module.hasOwnProperty('exports') )
{
    module.exports = base_urls;
}
